$canvas: #fefefe;
$bg-base: rgb(241, 242, 243);
$col-base: #222;
$col-sec: #fefefe;
$col-ter: #444;
$col-d-blue: #deeeef;
$col-d-cyan: darkcyan;
$col-muted: #99a1a4;
$std-margin: 10px;
$std-pad: 7px;
$std-br: 5px;
$link-col: $col-base;
$link-col-active: $col-d-cyan;